<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>lw.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>效能監測</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Performance2Filter</filter-name>
        <filter-class>lw.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>效能監測2</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Performance2Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ErrorFilter</filter-name>
        <filter-class>lw.web.PerformanceFilter</filter-class>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>Error監測</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.view</url-pattern>
        <url-pattern>*.php</url-pattern>
        <url-pattern>*.asp</url-pattern>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>lw.web.VisitorsCountListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ImageCheckServlet</servlet-name>
        <servlet-class>lw.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>len</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>registerImageCheckServlet</servlet-name>
        <servlet-class>lw.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>len</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>helloJSP</servlet-name>
        <jsp-file>/hello.jsp</jsp-file>
        <init-param>
            <param-name>title</param-name>
            <param-value>你好</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HelloToMeServlet</servlet-name>
        <servlet-class>lw.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>我好</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloJSP</servlet-name>
        <url-pattern>/hello.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloToMeServlet</servlet-name>
        <url-pattern>/hello.tome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCheckServlet</servlet-name>
        <url-pattern>/Image/check.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerImageCheckServlet</servlet-name>
        <url-pattern>/Image/registerCheck.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>all_pages</display-name>
        <web-resource-collection>
            <web-resource-name>all_pages</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>lw_user</role-name>
            <role-name>lw_admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>admin_pages</display-name>
        <web-resource-collection>
            <web-resource-name>admin_page</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>lw_admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/login_failed.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>admin</description>
        <role-name>lw_admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>lw_user</role-name>
    </security-role>
</web-app>
