<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>lw.web.VisitorsCountListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ImageCheckServlet</servlet-name>
        <servlet-class>lw.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>len</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
     <servlet>
        <servlet-name>registerImageCheckServlet</servlet-name>
        <servlet-class>lw.view.ImageCheckServlet</servlet-class>
        <init-param>
            <param-name>len</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>helloJSP</servlet-name>
        <jsp-file>/hello.jsp</jsp-file>
        <init-param>
            <param-name>title</param-name>
            <param-value>你好</param-value>
        </init-param>
    </servlet>
     <servlet>
    <servlet-name>HelloToMeServlet</servlet-name>
    <servlet-class>lw.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>title</param-name>
            <param-value>我好</param-value>
        </init-param>
    </servlet>
     <servlet-mapping>
        <servlet-name>helloJSP</servlet-name>
        <url-pattern>/hello.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloToMeServlet</servlet-name>
        <url-pattern>/hello.tome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCheckServlet</servlet-name>
        <url-pattern>/Image/check.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerImageCheckServlet</servlet-name>
        <url-pattern>/Image/registerCheck.jpg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
